<div>
    <div class="input-group mx-3">
        <input type="radio" class="btn-check" name="darkmode-toggle" id="darkmode-toggle-light" value="false" autocomplete="off" checked>
        <label class="btn btn-outline-dark" for="darkmode-toggle-light"><i class="bi bi-brightness-high"></i></label>
        <input type="radio" class="btn-check" name="darkmode-toggle" id="darkmode-toggle-dark" value="true" autocomplete="off">
        <label class="btn btn-outline-dark" for="darkmode-toggle-dark"><i class="bi bi-moon"></i></label>
        <script src="~/js/darkmode-toggle.js"></script>
    </div>
</div>