@{
    ViewData["Title"] = "User management";
}
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
    <script src="~/js/adminpanel.js"></script>
}
<ul class="nav my-1">
    <li class="nav-item mx-1">
        <button type="button" class="btn btn-danger" onclick="setBlockStatus(true)"><i class="bi bi-lock-fill"></i>Block</button>
    </li>
    <li class="nav-item mx-1">
        <button type="button" class="btn btn-success" onclick="setBlockStatus(false)"><i class="bi bi-unlock-fill"></i>Unblock</button>
    </li>
    <li class="nav-item mx-1">
        <button type="button" class="btn btn-outline-danger" onclick="deleteUsers()"><i class="bi bi-person-x-fill"></i>Delete</button>
    </li>
    <li class="nav-item mx-1">
        Set admin
        <button type="button" class="btn btn-outline-success" onclick="setAdminStatus(true)"><i class="bi bi-check"></i></button>
        <button type="button" class="btn btn-outline-danger" onclick="setAdminStatus(false)"><i class="bi bi-x"></i></button>
    </li>
</ul>
<div id="tablewrapper" class="table-responsive"></div>
