@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@{
    ViewData["Title"] = Localizer["page_title"];
}

<div class="text-center">
    <h1>@Localizer["hello_world"]</h1>
</div>
