html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

*[hidden]{
    display: none !important;
}

svg{
    text-anchor: middle;
}

.description-preview {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: pre-wrap;
    max-height:6em;
}

.description-preview * {
    font-size: 16px;
}

.description-preview-search {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    white-space: pre-wrap;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.description-preview-search * {
    font-size: 16px;
}

.icon-liked{
    color: gold;
}

textarea{
    resize: none;
}