@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}
<div class="row">
    <div class="col-lg-5">
        <form method="post">
            <div class="mb-1">
            <label asp-for="Username" class="form-label" >Username:</label>
            <input asp-for="Username" class="form-control" />
            </div>
            <div class="mb-1">
            <label asp-for="Email" class="form-label" >E-mail:</label>
            <input asp-for="Email" class="form-control" />
            </div>
            <div class="mb-1">
            <label asp-for="Password" class="form-label" >Password:</label>
            <input asp-for="Password" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="col-lg-7">
        @Html.ValidationSummary(false, "", new { @class = "text-danger mt-3" })
    </div>
</div>